<header>
		<div class="logo">Xero<span>Source</span></div>
	</header>
	<div class="nav-btn">Menu</div>
	<div class="container">
		
		<div class="sidebar">
			<nav>
				<a href="#">SWEETSPOT</a>
				<ul>
					<li class="active"><a href="#">Dashboard</a></li>
					<li><a routerLink="/store">Store Management</a></li>
					<li><a href="#">Inventory Management</a></li>
					<li><a href="#">Analytics</a></li>
				</ul>
			</nav>
		</div>

		<div class="main-content">
			<h1>Dashboard</h1>
                <button class="btn" routerLink="/store">Store Management</button>
                <button class="btn">Inventory Management</button>
                <button class="btn">Analytics</button>
	
    </div>
    </div>
				
		