
   <section class="categories">
      <h2>Trending Cakes</h2>
      <ul>
         <a href="#" >
            <li id="categ1" class="buttonfx">
               <div class="cont-txt">
                  <h3>Pull Me Up Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ2" class="buttonfx">
               <div class="cont-txt">
                  <h3>Bomb Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ3" class="buttonfx">
               <div class="cont-txt">
                  <h3>Pinata Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ4" class="buttonfx">
               <div class="cont-txt">
                  <h3>Desserts</h3>
               </div>
            </li>
         </a>
      </ul>
   </section>