<!--
<div class="slideupdown-category birthday-gifts  ">
   <div class="heading">
      <h1 class="heading">Fresh Cakes Online Delivery</h1>
   </div>
   <p class="sub-heading"></p>
   <ul class="slideupdown">
      <li class="fadeIn addBtMrgn"><a href="/birthday/cakes"><span><img src="https://imgcdn.floweraura.com/birthday_cake_1.jpg?tr=h-164,w-164" loading="lazy" alt="Order Birthday Cakes Online" srcset="https://imgcdn.floweraura.com/birthday_cake_1.jpg" title="Order Birthday Cakes Online" style="display:inline;width:100%;height:100%;"></span><span class="catgorySpanName">Birthday Cakes</span></a></li>
      <li class="fadeIn addBtMrgn"><a href="/anniversary/cakes"><span><img src="https://imgcdn.floweraura.com/anniversary_cake_3.jpg?tr=h-164,w-164" loading="lazy" alt="Send Anniversary Cakes Online" srcset="https://imgcdn.floweraura.com/anniversary_cake_3.jpg" title="Send Anniversary Cakes Online" style="display:inline;width:100%;height:100%"></span><span class="catgorySpanName">Anniversary Cakes</span></a></li>
      <li class="fadeIn addBtMrgn"><a href="/cakes/designer"><span><img src="https://imgcdn.floweraura.com/designer_cake_8.jpg?tr=h-164,w-164" loading="lazy" alt="Designer Cakes Online Delivery" srcset="https://imgcdn.floweraura.com/designer_cake_8.jpg" title="Designer Cakes Online Delivery" style="display:inline;width:100%;height:100%"></span><span class="catgorySpanName">Designer Cakes</span></a></li>
      <li class="fadeIn addBtMrgn"><a href="/cakes/regular"><span><img src="https://imgcdn.floweraura.com/regular_cake_1-replaced-womens-day_0.jpg?tr=h-164,w-164" loading="lazy" alt="Buy Regular Cakes" srcset="https://imgcdn.floweraura.com/regular_cake_1-replaced-womens-day_0.jpg" title="Buy Regular Cakes" style="display:inline;width:100%;height:100%"></span><span class="catgorySpanName">Regular Cakes</span></a></li>
      <li class="fadeIn addBtMrgn"><a href="/cakes/photo"><span><img src="https://imgcdn.floweraura.com/photo_cake_12.jpg?tr=h-164,w-164" loading="lazy" alt="Send Photo Cakes Online" srcset="https://imgcdn.floweraura.com/photo_cake_12.jpg" title="Send Photo Cakes Online" style="display:inline;width:100%;height:100%"></span><span class="catgorySpanName">Photo Cakes</span></a></li>
      <li class="fadeIn addBtMrgn"><a href="/cakes/eggless"><span><img src="https://imgcdn.floweraura.com/eggless_cake_6_3.jpg?tr=h-164,w-164" loading="lazy" alt="Eggless Cakes" srcset="https://imgcdn.floweraura.com/eggless_cake_6_3.jpg" title="Eggless Cakes" style="display:inline;width:100%;height:100%"></span><span class="catgorySpanName">Eggless Cakes</span></a></li>
   </ul>
</div>
-->

   <section class="categories">
      <h2>Fresh Cakes Online Delivery</h2>
      <ul>
         <a href="#" >
            <li id="categ1" class="buttonfx">
               <div class="cont-txt">
                  <h3>Birthday Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ2" class="buttonfx">
               <div class="cont-txt">
                  <h3>Anniversary Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ3" class="buttonfx">
               <div class="cont-txt">
                  <h3>Designer Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ4" class="buttonfx">
               <div class="cont-txt">
                  <h3>Regular Cakes</h3>
               </div>
            </li>
         </a>
         <a href="#" >
            <li id="categ5" class="buttonfx">
               <div class="cont-txt">
                  <h3>Eggless Cakes</h3>
               </div>
            </li>
         </a>
      </ul>
   </section>
