<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

<app-header></app-header>
<div class="centerer">
	<div class="window">
		<div class="flex-cont">
			<h2 class="title">Activity on <span class="site-name">Showcase</span></h2>
			<div class="columns">
				<div class="name-column">
					<div class="name">
						<ul>
							<li>Users</li>
							<li>Pageviews</li>
							<li>New sessions</li>
							<li>Bounce rate</li>
						</ul>
					</div>
				</div>

				<div class="bar-column">
					<div class="bar u">
						<div class="fill fill-u">
						</div>
					</div>
					<div class="c-bar-p">
						<div class="bar p">
							<div class="fill fill-p">
							</div>
						</div>
						</div>
					<div class="c-bar-ns">
						<div class="bar ns">
							<div class="fill fill-ns">
							</div>
						</div>
					</div>
					<div class="c-bar-br">
						<div class="bar br">
							<div class="fill fill-br">
							</div>
						</div>
					</div>
				</div>

				<div class="num-column">
					<div class="number">
						<ul>
							<li>17,387</li>
							<li>32,581</li>
							<li>8,132</li>
							<li>77%</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>