/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{
  box-sizing: border-box;
}



html,
button{
  font-family: "Quicksand", "sans-serif";
  /* background-color: rgb(242, 224, 248); */
}

body{
  margin: 0;
}

a{
  text-decoration: none;
}
